<head th:replace="/thymeleaf/head.html :: head"></head>
<body>
<header th:replace="/thymeleaf/header.html"></header>
<div id="main-container">
    <div id="content-container"></div>
</div>
<script type="text/javascript" src="js/jquery/jquery-3.6.1.js"></script>
<script type="text/javascript">
    $(function () {
        getRestaurantPage();

    })

    function getRestaurantPage() {
        $('#content-container').load('/html/restaurant.html');
    }

    function addRestaurantMenu() {

        $.ajax({
            url: "/restaurant/menu/add",
            type: "post",
            success: function () {
                // getMenuList();
            },
            error: function () {
                console.log("error");
            }
        })
    }

    function addMenu() {

        let menuName = $('input[name=menu-name]').val();
        let data = {"menuName": menuName};
        $.ajax({
            url: "/menu/add",
            type: "post",
            data: data,
            // data: JSON.stringify(data),
            // dataType: "json",
            success: function () {
                getMenuList();
            },
            error: function () {
                console.log("error");
            }
        })
    }


</script>
</body>
</html>